/*.log
/.vagrant
/AT20_COMPILER_SERVICE/node_modules
/AT20_COMPILER_SERVICE/src/services/compilers/temp_saved_files
/AT20_COMPILER_SERVICE/coverage
/AT20_COMPILER_SERVICE/src/services/compilers/compiled_files/